<div class="variation_block">
  <div class="variation_detail">
   {{- product.variation_field_discount_percentage -}}
    <div{{ attributes }}>
      <div class="offer_price">
        {{- product_variation.field_discount_percentage -}}
      </div>
      <center>
      <div class="product_variation_image">
        {{- product_variation.field_image -}}
      </div>
      </center>
       {{-product_variation.title -}}
       <div class="product__quantity">
       {{-product_variation.field_weight -}}
       </div>
      <div class="row">
        <div class="col-3 product_variation_price">
          {{- product_variation.price -}}
        </div>
        <div class="col-9 mr-auto product_variation_old_price">
         <del> {{- product_variation.field_old_price -}} </del>
        </div>
      </div>     
        {{- product.variation_field_discount_percentage -}}
      {{- product_variation|without('title','price','field_image','field_old_price','field_weight','field_discount_percentage') -}}
    </div>
  </div>
</div>